@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --pink: #ff046f;
  --violet: #c63bfa;
}

* {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--pink);
  color: #fff;
}

:root {
  --pink: #ff046f;
  --violet: #c63bfa;
}

* {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--pink);
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #000;
  min-height: 200vh;
}
.brand_pic {
  width: 100%;
  height: 70vh;
}
.center {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.outer {
  position: relative;
  margin: 0 30px;
  background: #111;
}
.button {
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  border-radius: 50px;
}

.last_section {
  width: 100%;
  height: 70vh;
  padding-top: 30px;
  padding-bottom: 30px;
}
.last_image {
  height: 70vh;
}
@media (max-width: 640px) {
  .center {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .outer {
    margin: 50px 0;
  }
}
.about span {
  font-size: 2.5rem;
  color: #512a10;
}

.about .title {
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}

.about p {
  padding: 1rem 0;
  font-size: 15px;
  line-height: 2;
  color: rgb(3, 3, 3);
  margin-bottom: 0;
}

.about .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
}

.about .icons-container .icons {
  padding: 2rem;
  background: #eee;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 14rem;
  flex: 1 1 14rem;
}

.about .icons-container .icons img {
  height: 100px;
  width: 100px;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #512a10;
}

@media (max-width: 640px) {
  .boxside {
    width: 100%;
    height: auto;
  }
}
.latestScrollingText {
  box-sizing: border-box;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url('../images/pnj/42-426461_scroll-clipart-transparent-background-collection-book-scroll-png.png')
    repeat center center #c49f75;
  /*background: #00994c;*/
  background: linear-gradient(180deg, #024782, #053154);
  width: 100%;
  left: 5px;
  right: 5px;
}
.latestScrollingText h3 {
  box-sizing: border-box;
  color: rgb(27, 14, 11);
  position: absolute;
  margin: 0;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: latestScrollingText 45s linear infinite;
  -webkit-animation: latestScrollingText 45s linear infinite;
  animation: latestScrollingText 45s linear infinite;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  white-space: nowrap;
  font-size: 18px;
}
/* Move it (define the animation) */
@-moz-keyframes latestScrollingText {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes latestScrollingText {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes latestScrollingText {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

.latestScrollingText h3:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.aboutus {
  padding-top: 15px;
}

.button1 {
  margin: 10px;
  border: 1px gray;
  box-shadow: 5px 5px 5px 5px gray;
}
.text1 {
  font-size: 15px;
  text-align: justify;
  justify-content: first baseline;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 47px;
  line-height: 0.8cm;
  letter-spacing: 3px;
}

.location {
  padding-right: 10px;
}
.img {
  width: 400px;
  height: 350px;
  padding-right: 20px;
  padding-top: 45px;
}
text2 {
  font-family: 'Odibee Sans', cursive;
  text-transform: uppercase;
  text-shadow: #c49f75 2px;
  color: black;
  text-decoration: inherit;
}
.text-center {
  text-align: center;
  margin-bottom: 50px;
}

.project-counter-wrp {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  overflow: hidden;
  position: relative;
  background-image: url('../images/header/counter.jpg');
  background-size: cover;
}

.project-counter-wrp ul {
  list-style-type: none;
  display: flex;
}

.project-counter-wrp li {
  box-sizing: border-box;
  width: 33.33%;
  height: 100%;
  padding: 30px 0px;
  text-align: center;
  transition: 0.2s linear;
}

.project-counter-wrp li:hover {
  transform: scale(1.1);
}

.project-counter-wrp li p.number {
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.project-counter-wrp li p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}

.project-counter-wrp li span {
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}

.project-counter-wrp li i {
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}

.covidcard {
  width: 100%;

  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.covidimg {
  box-sizing: border-box;
  height: 70vh;
  width: 100%;
  box-shadow: 5px 0px 5px gray;
  padding-bottom: 50px;
  padding-left: 5px;
}
.gnit_covid {
  box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  padding-left: 5px;
  padding-right: 5px;
  margin: 8px;
}
.academicsection {
  padding-left: 50px;
}
.boxsidea {
  box-sizing: border-box;
  left: 40px;
  top: 0;
  right: 0px;
  position: relative;
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.font_text {
  background-color: black;
  color: yellow;
  font-weight: 700;
  width: 140px;
}
.boxsidea .box {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  top: 0;
  position: relative;
  width: calc(250px - 30px);
  height: calc(250px - 30px);
  background-color: violet;
  float: left;
  margin: 20px;
  border: 1px gray;
  box-shadow: 5px 5px 5px 5px rgb(143, 58, 58);
}
.boxsidea .box:hover {
  color: darkorange;
  background-color: rgb(179, 57, 57);
}

.footer-dark {
  padding: 50px 50px;

  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  padding-left: 10px;
}

.footer-dark ul {
  padding-left: 50px;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

.footer-dark ul a {
  font-family: 'Times New Roman', Times, serif;
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-dark ul a:hover {
  opacity: 0.9;
  color: rgba(255, 11, 11, 0.993);
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 5px;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}
.aboutus {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
  background-color: teal;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
