<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>College_Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ContactUs</servlet-name>
		<servlet-class>com.college.action.ContactUs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Grievance</servlet-name>
		<servlet-class>com.college.action.Grievance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewRegistration</servlet-name>
		<servlet-class>com.college.action.NewRegistration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LibraryFeddback</servlet-name>
		<servlet-class>com.college.action.LibraryFeddback</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeLoginDetails</servlet-name>
		<servlet-class>com.college.action.ChangeLoginDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>com.college.action.StudentLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.college.action.LogoutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewAndUploadAssignmentSolution</servlet-name>
		<servlet-class>com.college.action.ViewAndUploadAssignmentSolution</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>View</servlet-name>
		<servlet-class>com.college.action.View</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoubtHandler</servlet-name>
		<servlet-class>com.college.action.DoubtHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExamPaperDownload</servlet-name>
		<servlet-class>com.college.action.ExamPaperDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AnswerScriptSubmit</servlet-name>
		<servlet-class>com.college.action.AnswerScriptSubmit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LabHandler</servlet-name>
		<servlet-class>com.college.action.LabHandler</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>ContactUs</servlet-name>
		<url-pattern>/contactUS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Grievance</servlet-name>
		<url-pattern>/griv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewRegistration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LibraryFeddback</servlet-name>
		<url-pattern>/libraryFeddback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeLoginDetails</servlet-name>
		<url-pattern>/changeLoginDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/studentLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAndUploadAssignmentSolution</servlet-name>
		<url-pattern>/viewAndDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>View</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DoubtHandler</servlet-name>
		<url-pattern>/doubt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExamPaperDownload</servlet-name>
		<url-pattern>/paper</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnswerScriptSubmit</servlet-name>
		<url-pattern>/submit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LabHandler</servlet-name>
		<url-pattern>/lab</url-pattern>
	</servlet-mapping>

</web-app>