<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>College_Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ContactUs</servlet-name>
		<servlet-class>com.college.action.ContactUs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Grievance</servlet-name>
		<servlet-class>com.college.action.Grievance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewRegistration</servlet-name>
		<servlet-class>com.college.action.NewRegistration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LibraryFeddback</servlet-name>
		<servlet-class>com.college.action.LibraryFeddback</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeLoginDetails</servlet-name>
		<servlet-class>com.college.action.ChangeLoginDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>com.college.action.StudentLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.college.action.LogoutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewAndUploadAssignmentSolution</servlet-name>
		<servlet-class>com.college.action.ViewAndUploadAssignmentSolution</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>View</servlet-name>
		<servlet-class>com.college.action.View</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoubtHandler</servlet-name>
		<servlet-class>com.college.action.DoubtHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExamPaperDownload</servlet-name>
		<servlet-class>com.college.action.ExamPaperDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AnswerScriptSubmit</servlet-name>
		<servlet-class>com.college.action.AnswerScriptSubmit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LabHandler</servlet-name>
		<servlet-class>com.college.action.LabHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeacherLogin</servlet-name>
		<servlet-class>com.college.action.TeacherLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeacherLinkManagement</servlet-name>
		<servlet-class>com.college.action.TeacherLinkManagement</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewNotesAndUploadTeacher</servlet-name>
		<servlet-class>com.college.action.ViewNotesAndUploadTeacher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewAndUploadAssignmentTeacher</servlet-name>
		<servlet-class>com.college.action.ViewAndUploadAssignmentTeacher</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PostQuestionPaperAndTakeActionTeacher</servlet-name>
		<servlet-class>com.college.action.PostQuestionPaperAndTakeActionTeacher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewAndUploadLabotherDataTeacher</servlet-name>
		<servlet-class>com.college.action.ViewAndUploadLabotherDataTeacher</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ViewDoubtsAndUploadTeacher</servlet-name>
		<servlet-class>com.college.action.ViewDoubtsAndUploadTeacher</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>FetchStudentAnswerScriptAndOtherFiles</servlet-name>
		<servlet-class>com.college.action.FetchStudentAnswerScriptAndOtherFiles</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AboutUsFeedback</servlet-name>
		<servlet-class>com.college.action.AboutUsFeedback</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>FetchDoubtAdmin</servlet-name>
		<servlet-class>com.college.action.FetchDoubtAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountCreationAdmin</servlet-name>
		<servlet-class>com.college.action.AccountCreationAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.college.action.AdminLogin</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadInformationAdmin</servlet-name>
		<servlet-class>com.college.action.UploadInformationAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MentorRegistration</servlet-name>
		<servlet-class>com.college.action.MentorRegistration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MentorLogin</servlet-name>
		<servlet-class>com.college.action.MentorLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MentorUploadFiles</servlet-name>
		<servlet-class>com.college.action.MentorUploadFiles</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MentorUploadLink</servlet-name>
		<servlet-class>com.college.action.MentorUploadLink</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewStudentDetailsMentor</servlet-name>
		<servlet-class>com.college.action.ViewStudentDetailsMentor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubjectAllotmentMentor</servlet-name>
		<servlet-class>com.college.action.SubjectAllotmentMentor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CanvasManagement</servlet-name>
		<servlet-class>com.college.action.CanvasManagement</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FetchDropDowns</servlet-name>
		<servlet-class>com.college.action.FetchDropDowns</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgetPassword</servlet-name>
		<servlet-class>com.college.action.ForgetPassword</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AttendanceManagement</servlet-name>
		<servlet-class>com.college.action.AttendanceManagement</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ContactUs</servlet-name>
		<url-pattern>/contactUS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Grievance</servlet-name>
		<url-pattern>/griv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewRegistration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LibraryFeddback</servlet-name>
		<url-pattern>/libraryFeddback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeLoginDetails</servlet-name>
		<url-pattern>/changeLoginDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/studentLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAndUploadAssignmentSolution</servlet-name>
		<url-pattern>/viewAndDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>View</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DoubtHandler</servlet-name>
		<url-pattern>/doubt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExamPaperDownload</servlet-name>
		<url-pattern>/paper</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnswerScriptSubmit</servlet-name>
		<url-pattern>/submit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LabHandler</servlet-name>
		<url-pattern>/lab</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherLogin</servlet-name>
		<url-pattern>/teacherLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherLinkManagement</servlet-name>
		<url-pattern>/teacherLink</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewNotesAndUploadTeacher</servlet-name>
		<url-pattern>/uploadNotesAndView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAndUploadAssignmentTeacher</servlet-name>
		<url-pattern>/uploadAssignmentAndView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostQuestionPaperAndTakeActionTeacher</servlet-name>
		<url-pattern>/postQuestionPaper</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAndUploadLabotherDataTeacher</servlet-name>
		<url-pattern>/labOtherData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewDoubtsAndUploadTeacher</servlet-name>
		<url-pattern>/solveDoubt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchStudentAnswerScriptAndOtherFiles</servlet-name>
		<url-pattern>/fetchDetails</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AboutUsFeedback</servlet-name>
		<url-pattern>/aboutUs</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>FetchDoubtAdmin</servlet-name>
		<url-pattern>/fetch</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>AccountCreationAdmin</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/adminLogin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadInformationAdmin</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MentorRegistration</servlet-name>
		<url-pattern>/mentorNew</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MentorLogin</servlet-name>
		<url-pattern>/mentorLogin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MentorUploadFiles</servlet-name>
		<url-pattern>/mentorUploadFiles</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MentorUploadLink</servlet-name>
		<url-pattern>/mentorUploadLink</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewStudentDetailsMentor</servlet-name>
		<url-pattern>/guideStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubjectAllotmentMentor</servlet-name>
		<url-pattern>/subjectAllotement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CanvasManagement</servlet-name>
		<url-pattern>/canvas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchDropDowns</servlet-name>
		<url-pattern>/dropdown</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ForgetPassword</servlet-name>
		<url-pattern>/forget</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttendanceManagement</servlet-name>
		<url-pattern>/attendance</url-pattern>
	</servlet-mapping>

</web-app>